# SPRING PROFILES  
spring:         
    # DATASOURCE  
    datasource:  
        driverClass: com.mysql.jdbc.Driver  
        url: jdbc:mysql://localhost:3306/dmcs?useUnicode=true&characterEncoding=utf-8  
        username: root  
        password: 123456 
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
    mail:
        host: smtp.163.com
        username: caizj15@163.com
        password: dmcsvalley123
        properties:
            mail:
                smtp:
                     auth: true
                     timeout: 25000
    mybatis: 
        config-location: classpath:mybatis-config.xml
        typeAliasesPackage: edu.tsinghua.dmcs.entity