<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="edu.tsinghua.dmcs.entity" />
	</typeAliases>
	<mappers>
		<mapper resource="edu/tsinghua/dmcs/mapper/*.xml" />
		<package name="edu.tsinghua.dmcs.mapper" />
	</mappers>
</configuration>