<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.tsinghua.dmcs.mapper.FileWindowMapper">
    <resultMap id="BaseResultMap" type="edu.tsinghua.dmcs.entity.FileWindowModule">
        <id column="createid" property="createid" jdbcType="BIGINT" />
        <result column="moduleid" property="moduleid" jdbcType="INTEGER" />
        <result column="windowid" property="windowid" jdbcType="INTEGER" />
        <result column="orderid" property="orderid" jdbcType="INTEGER" />
        <result column="filename" property="filename" jdbcType="VARCHAR" />
        <result column="filesrc" property="filesrc" jdbcType="VARCHAR" />
        <result column="imagename" property="imagename" jdbcType="VARCHAR" />
        <result column="imagesrc"  property="imagesrc" jdbcType="VARCHAR" />
        <result column="fileimagedescrip" property="fileimagedescrip" jdbcType="VARCHAR" />
        <result column="viewed" property="viewed" jdbcType="VARCHAR" />
        <result column="insertUser" property="insertUser" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        createid,moduleid,windowid,orderid,filename,filesrc,imagename,imagesrc,fileimagedescrip,viewed,insertUser
    </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM file_window_module
        WHERE createid = #{createid, jdbcType=BIGINT}
    </select>
    <select id="selectCommonFileWindow" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM file_window_module
        WHERE moduleid = 0
    </select>
    <select id="selectByModuleId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM file_window_module
        WHERE moduleid = #{moduleid, jdbcType=INTEGER} ORDER  BY orderid ASC
    </select>
    <select id="countByModuleId" resultType="Integer" parameterType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM file_window_module
        WHERE moduleid = #{moduleid, jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM file_window_module
        WHERE createid = #{createid, jdbcType=BIGINT}
    </delete>
    <insert id="addFileWindow" parameterType="edu.tsinghua.dmcs.entity.FileWindowModule">
        INSERT INTO file_window_module(createid,moduleid,windowid,orderid,filename,filesrc,imagename,imagesrc,fileimagedescrip,viewed,insertUser)
        VALUES (#{createid,jdbcType=BIGINT},#{moduleid,jdbcType=INTEGER},#{windowid,jdbcType=INTEGER},#{orderid,jdbcType=INTEGER},
        #{filename,jdbcType=VARCHAR},#{filesrc,jdbcType=VARCHAR},#{imagename,jdbcType=VARCHAR},#{imagesrc,jdbcType=VARCHAR},
        #{fileimagedescrip,jdbcType=VARCHAR},#{viewed,jdbcType=VARCHAR},#{insertUser,jdbcType=VARCHAR})
    </insert>
    <update id="updateFileWindow" parameterType="edu.tsinghua.dmcs.entity.FileWindowModule">
        UPDATE file_window_module
        <set>
            <if test="moduleid !=null">
                moduleid = #{moduleid,jdbcType=INTEGER},
            </if>
            <if test="windowid !=null">
                windowid = #{windowid,jdbcType=INTEGER},
            </if>
            <if test="orderid !=null">
                orderid = #{orderid,jdbcType=INTEGER},
            </if>
            <if test="filename !=null">
                filename = #{filename,jdbcType=VARCHAR},
            </if>
            <if test="filesrc !=null">
                filesrc = #{filesrc,jdbcType=VARCHAR},
            </if>
            <if test="imagename !=null">
                imagename = #{imagename,jdbcType=VARCHAR},
            </if>
            <if test="imagesrc !=null">
                imagesrc = #{imagesrc,jdbcType=VARCHAR},
            </if>
            <if test="fileimagedescrip !=null">
                fileimagedescrip = #{fileimagedescrip,jdbcType=VARCHAR},
            </if>
            <if test="viewed !=null">
                viewed = #{viewed,jdbcType=VARCHAR},
            </if>
            <if test="insertUser !=null">
                insertUser = #{insertUser,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE createid = #{createid, jdbcType=BIGINT}
    </update>
</mapper>