<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.tsinghua.dmcs.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="edu.tsinghua.dmcs.entity.User">
		<id column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="currentAuthority" property="currentAuthority" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="realname" property="realname" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="usersex" property="usersex" jdbcType="VARCHAR"/>
		<result column="useridnumber" property="useridnumber" jdbcType="VARCHAR"/>
		<result column="useremail" property="useremail" jdbcType="VARCHAR"/>
		<result column="emailcheckedflag" property="emailcheckedflag" jdbcType="VARCHAR"/>
		<result column="userworkplace" property="userworkplace" jdbcType="VARCHAR"/>
		<result column="usertelephone" property="usertelephone" jdbcType="VARCHAR"/>
		<result column="usertelephone_1" property="usertelephone_1" jdbcType="VARCHAR"/>
		<result column="userweixin" property="userweixin" jdbcType="VARCHAR"/>
		<result column="userqq" property="userqq" jdbcType="VARCHAR"/>
		<result column="regtime" property="regtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		userid,currentAuthority,avatar,username,realname,password,usersex,useridnumber,
		useremail,emailcheckedflag, userworkplace,usertelephone,usertelephone_1,
		userweixin,userqq,regtime
	</sql>
	<select id="nogetuser" resultMap="BaseResultMap" parameterType="java.lang.String">
		select userid, currentAuthority, avatar, username, realname, useremail, emailcheckedflag,usertelephone,userworkplace
		from user_information
		where userid != #{userid, jdbcType=VARCHAR}
	</select>
	<select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user_information
		where username = #{username_mobile_email,jdbcType=VARCHAR} OR usertelephone = #{username_mobile_email, jdbcType=VARCHAR} OR useremail = #{username_mobile_email, jdbcType=VARCHAR}
	</select>
	<select id="selectByuserId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user_information
		where userid = #{userid, jdbcType=VARCHAR }
	</select>
	<select id="selectByUserEmail" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user_information
		where useremail = #{useremail, jdbcType=VARCHAR }
	</select>
	<select id="selectByUserTele" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user_information
		where usertelephone = #{userTele, jdbcType=VARCHAR }
	</select>
	<select id="selectUser_num" resultType="Integer" parameterType="java.lang.Integer">
		SELECT
		COUNT(*)
		from user_information
	</select>
	<delete id="deleteByUserId" parameterType="java.lang.Long">
		delete from user_information
		where userid = #{userid,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="edu.tsinghua.dmcs.entity.User">
		insert into user_information (userid,currentAuthority,avatar,username,realname,password,usersex,useridnumber,
		useremail,emailcheckedflag,userworkplace,usertelephone,usertelephone_1,
		userweixin,userqq,regtime)
		values ( #{userid,jdbcType=VARCHAR},#{currentAuthority,jdbcType=VARCHAR},
		#{avatar,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR},#{realname,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},#{usersex, jdbcType=VARCHAR},#{useridnumber, jdbcType=VARCHAR},
		#{useremail,jdbcType=VARCHAR},#{emailcheckedflag,jdbcType=VARCHAR},#{userworkplace,jdbcType=VARCHAR},#{usertelephone,jdbcType=VARCHAR},
		#{usertelephone_1,jdbcType=VARCHAR},
		#{userweixin,jdbcType=VARCHAR}, #{userqq,jdbcType=VARCHAR},
		#{regtime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="edu.tsinghua.dmcs.entity.User">
		insert into user_information
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				userid,
			</if>
			<if test="currentAuthority !=null">
				currentAuthority,
			</if>
			<if test="avatar !=null">
				avatar,
			</if>
			<if test="username !=null">
				username,
			</if>
			<if test="realname !=null">
				realname,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="usersex != null">
				usersex,
			</if>
			<if test="useridnumber !=null">
				useridnumber,
			</if>
			<if test="useremail != null">
				useremail,
			</if>
			<if test="emailcheckedflag !=null">
				emailcheckedflag,
			</if>
			<if test="userworkplace != null">
				userworkPlace,
			</if>
			<if test="usertelephone != null">
				usertelephone,
			</if>
			<if test="usertelephone_1 != null">
				usertelephone_1,
			</if>

			<if test="userweixin != null">
				userweixin,
			</if>
			<if test="userqq != null">
				userqq,
			</if>
			<if test="regtime != null">
				regtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="currentAuthority !=null">
				#{currentAuthority,jdbcType=VARCHAR},
			</if>
			<if test="avatar !=null">
				#{avatar,jdbcType=VARCHAR},
			</if>
			<if test="username !=null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="realname !=null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="usersex != null">
				#{usersex,jdbcType=VARCHAR},
			</if>
			<if test="useridnumber !=null">
				#{useridnumber,jdbcType=VARCHAR},
			</if>
			<if test="useremail != null">
				#{useremail,jdbcType=VARCHAR},
			</if>
			<if test="emailcheckedflag !=null">
				#{emailcheckedflag,jdbcType=VARCHAR},
			</if>
			<if test="userworkplace != null">
				#{userworkPlace,jdbcType=VARCHAR},
			</if>
			<if test="usertelephone != null">
				#{usertelephone,jdbcType=VARCHAR},
			</if>
			<if test="usertelephone_1 != null">
				#{usertelephone_1,jdbcType=VARCHAR},
			</if>

			<if test="userweixin != null">
				#{userweixin,jdbcType=VARCHAR},
			</if>
			<if test="userqq != null">
				#{userqq,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				#{regtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="edu.tsinghua.dmcs.entity.User">
		update user_information
		<set>
			<if test="currentAuthority !=null">
				currentAuthority = #{currentAuthority,jdbcType=VARCHAR},
			</if>
			<if test="avatar !=null">
				avatar = #{avatar,jdbcType=VARCHAR},
			</if>
			<if test="username !=null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="realname !=null">
				realname = #{realname,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="usersex != null">
				usersex = #{usersex,jdbcType=VARCHAR},
			</if>
			<if test="useridnumber !=null">
				useridnumber = #{useridnumber,jdbcType=VARCHAR},
			</if>
			<if test="useremail != null">
				useremail = #{useremail,jdbcType=VARCHAR},
			</if>
			<if test="emailcheckedflag !=null">
				emailcheckedflag = #{emailcheckedflag,jdbcType=VARCHAR},
			</if>
			<if test="userworkplace != null">
				userworkplace = #{userworkPlace,jdbcType=VARCHAR},
			</if>
			<if test="usertelephone != null">
				usertelephone = #{usertelephone,jdbcType=VARCHAR},
			</if>
			<if test="usertelephone_1 != null">
				usertelephone_1 = #{usertelephone_1,jdbcType=VARCHAR},
			</if>

			<if test="userweixin != null">
				userweixin = #{userweixin,jdbcType=VARCHAR},
			</if>
			<if test="userqq != null">
				userqq = #{userqq,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				regtime = #{regtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where userid = #{userid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="edu.tsinghua.dmcs.entity.User">
		update user_information
		set
			currentAuthority = #{currentAuthority,jdbcType=VARCHAR},
			avatar = #{avatar,jdbcType=VARCHAR},
			username = #{username,jdbcType=VARCHAR},
			realname = #{realname,jdbcType=VARCHAR},
			password = #{password,jdbcType=VARCHAR},
			usersex = #{usersex,jdbcType=VARCHAR},
			useridnumber = #{useridnumber,jdbcType=VARCHAR},
			useremail = #{useremail,jdbcType=VARCHAR},
			userworkplace = #{userworkPlace,jdbcType=VARCHAR},
			usertelephone = #{usertelephone,jdbcType=VARCHAR},
			usertelephone_1 = #{usertelephone_1,jdbcType=VARCHAR},
			userweixin = #{userweixin,jdbcType=VARCHAR},
			userqq = #{userqq,jdbcType=VARCHAR},
			regtime = #{regtime,jdbcType=TIMESTAMP},
		where userid = #{userid,jdbcType=VARCHAR}
	</update>
	<update id="changeEmailflag" parameterType="java.lang.String">
		UPDATE  user_information
		SET
		currentAuthority = "user",
		emailcheckedflag = "true"
		WHERE username = #{username, jdbcType=VARCHAR}
	</update>
</mapper>