<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.tsinghua.dmcs.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="edu.tsinghua.dmcs.entity.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="currentAuthority" property="currentAuthority" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="usersex" property="password" jdbcType="VARCHAR" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="alias" property="alias" jdbcType="VARCHAR" />
		<result column="avatar" property="avatar" jdbcType="VARCHAR" />
		<result column="userEmail" property="userEmail" jdbcType="VARCHAR" />
		<result column="userEmail_1" property="userEmail_1" jdbcType="VARCHAR" />
		<result column="userTelephone" property="userTelephone" jdbcType="VARCHAR" />
		<result column="userTelephone_1" property="userTelephone_1" jdbcType="VARCHAR" />
		<result column="userworkPlace" property="userworkPlace" jdbcType="VARCHAR" />
		<result column="userWeixin" property="userWeixin" jdbcType="VARCHAR" />
		<result column="userQq" property="userQq" jdbcType="VARCHAR" />
		<result column="regtime" property="regtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userid, username, currentAuthority, password, usersex, realname, alias, avatar, userEmail, userEmail_1, userTelephone, userTelephone_1,
		userworkPlace, userWeixin,
		userQq, regtime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByUserName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where username = #{username,jdbcType=VARCHAR}
	</select>
	<select id="selectUser_num" resultType="Integer" parameterType="java.lang.Integer">
		SELECT
		COUNT(*)
		from user
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="edu.tsinghua.dmcs.entity.User">
		insert into user (id, userid, username, currentAuthority,
		 password, usersex, realname, alias, avatar, userEmail,
		 userEmail_1, userTelephone, userTelephone_1,
		 userworkPlace, userWeixin,
		 userQq, regtime )
		values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR},#{currentAuthority,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},#{usersex, jdbcType=VARCHAR},
		#{realname,jdbcType=VARCHAR},#{ alias, jdbcType=VARCHAR},#{avatar, jdbcType=VARCHAR},
		#{userEmail,jdbcType=VARCHAR},#{userEmail_1,jdbcType=VARCHAR},
		#{userTelephone,jdbcType=VARCHAR},#{userTelephone_1,jdbcType=VARCHAR},
		#{userworkPlace,jdbcType=VARCHAR}, #{userWeixin,jdbcType=VARCHAR}, #{userQq,jdbcType=VARCHAR},
		#{regtime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="edu.tsinghua.dmcs.entity.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="currentAuthority != null">
				currentAuthority,
			</if>
			<if test="passwpord != null">
				password,
			</if>
			<if test="usersex != null">
				usersex,
			</if>
			<if test="realname != null">
				realname,
			</if>
			<if test="alias != null">
				alias,
			</if>
			<if test="avatar != null">
				avatar,
			</if>
			<if test="userEmail != null">
				userEmail,
			</if>
			<if test="userEmail_1 != null">
				userEmail_1,
			</if>
			<if test="userTelephone != null">
				userTelephone,
			</if>
			<if test="userTelephone_1 != null">
				userTelephone_1,
			</if>
			<if test="userworkPlace != null">
				userworkPlace,
			</if>
			<if test="userWeixin != null">
				userWeixin,
			</if>
			<if test="userQq != null">
				userQq,
			</if>
			<if test="regtime != null">
				regtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="currentAuthority != null">
				#{currentAuthority,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="usersex != null">
				#{usersex,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="alias != null">
				#{alias,jdbcType=VARCHAR},
			</if>
			<if test="avatar != null">
				#{avatar,jdbcType=VARCHAR},
			</if>
			<if test="userEmail != null">
				#{userEmail,jdbcType=VARCHAR},
			</if>
			<if test="userEmail_1 != null">
				#{userEmail_1,jdbcType=VARCHAR},
			</if>
			<if test="userTelephone != null">
				#{userTelephone,jdbcType=VARCHAR},
			</if>
			<if test="userTelephone_1 != null">
				#{userTelephone_1,jdbcType=VARCHAR},
			</if>
			<if test="userworkPlace != null">
				#{userworkPlace,jdbcType=VARCHAR},
			</if>
			<if test="userWeixin != null">
				#{userWeixin,jdbcType=VARCHAR},
			</if>
			<if test="userQq != null">
				#{userQq,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				#{regtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="edu.tsinghua.dmcs.entity.User">
		update user
		<set>
			<if test="userid != null">
				userid = #{userid,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="currentAuthority != null">
				currentAuthority = #{currentAuthority,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="usersex != null">
				password = #{usersex,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				realname = #{realname,jdbcType=VARCHAR},
			</if>
			<if test="alias != null">
				alias = #{alias,jdbcType=VARCHAR},
			</if>
			<if test="avatar != null">
				avatar = #{avatar,jdbcType=VARCHAR},
			</if>
			<if test="userEmail != null">
				uaerEmail = #{userEmail,jdbcType=VARCHAR},
			</if>
			<if test="userEmail_1 != null">
				userEmail_1 = #{userEmail_1,jdbcType=VARCHAR},
			</if>
			<if test="userTelephone != null">
				userTelephone = #{userTelephone,jdbcType=VARCHAR},
			</if>
			<if test="userTelephone_1 != null">
				userTelephone_1 = #{userTelephone_1,jdbcType=VARCHAR},
			</if>
			<if test="userworkPlace != null">
				userworkPlace = #{userworkPlace,jdbcType=VARCHAR},
			</if>
			<if test="userWeixin != null">
				userWeixin = #{userWeixin,jdbcType=VARCHAR},
			</if>
			<if test="userQq != null">
				userQq = #{userQq,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				regtim = #{regtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="edu.tsinghua.dmcs.entity.User">
		update user
		set
			userid = #{userid,jdbcType=VARCHAR},
			username = #{username,jdbcType=VARCHAR},
			currentAuthority = #{currentAuthority,jdbcType=VARCHAR},
			password = #{password,jdbcType=VARCHAR},
			usersex = #{usersex,jdbcType=VARCHAR},
			realname = #{realname,jdbcType=VARCHAR},
			alias = #{alias,jdbcType=VARCHAR},
			avatar = #{avatar,jdbcType=VARCHAR},
			uaerEmail = #{userEmail,jdbcType=VARCHAR},
			userEmail_1 = #{userEmail_1,jdbcType=VARCHAR},
			userTelephone = #{userTelephone,jdbcType=VARCHAR},
			userTelephone_1 = #{userTelephone_1,jdbcType=VARCHAR},
			userworkPlace = #{userworkPlace,jdbcType=VARCHAR},
			userWeixin = #{userWeixin,jdbcType=VARCHAR},
			userQq = #{userQq,jdbcType=VARCHAR},
			regtim = #{regtime,jdbcType=TIMESTAMP},
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>