<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.tsinghua.dmcs.mapper.UserAddressMapper">
    <resultMap id="BaseResultMap" type="edu.tsinghua.dmcs.entity.UserAddress" >
        <id column="addressid" property="addressid" jdbcType="BIGINT" />
        <result column="userid" property="userid" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="area" property="area" jdbcType="VARCHAR" />
        <result column="place" property="place" jdbcType="VARCHAR" />
        <result column="mobilephone" property="mobilephone" jdbcType="VARCHAR" />
        <result column="fixedphone" property="fixedphone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        addressid,userid,name,title,country,city,area,place,mobilephone,fixedphone,email
    </sql>
    <delete id="deleteById" parameterType="java.lang.Long" >
        delete from user_address
        where addressid = #{addressid,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByUserId" parameterType="java.lang.String" >
        delete from user_address
        where userid = #{userid,jdbcType=VARCHAR}
    </delete>
    <insert id="addAddress" parameterType="edu.tsinghua.dmcs.entity.UserAddress" >
        insert into user_address (addressid,userid,name,title,country,city,area,place,mobilephone,fixedphone,email)
        values ( #{addressid,jdbcType=BIGINT},#{userid,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{country,jdbcType=VARCHAR},
                 #{city,jdbcType=VARCHAR},#{area,jdbcType=VARCHAR},#{place,jdbcType=VARCHAR},#{mobilephone,jdbcType=VARCHAR},#{fixedphone,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
    </insert>
    <update id="updateById" parameterType="edu.tsinghua.dmcs.entity.UserAddress" >
        update user_address
        <set >
            <if test="userid != null" >
                userid = #{usreId,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="country != null" >
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null" >
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="place != null" >
                place = #{place,jdbcType=VARCHAR},
            </if>
            <if test="mobilephone != null" >
                mobilephone = #{mobilephone,jdbcType=VARCHAR},
            </if>
            <if test="fixedphone != null" >
                fixedphone = #{fixedphone,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where addressid = #{addressid,jdbcType=BIGINT}
    </update>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from user_address
        where addressid = #{addressid, jdbcType=BIGINT}
    </select>
    <select id="querySelectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from user_address
        where userid = #{userid, jdbcType=VARCHAR}
    </select>
</mapper>