<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.tsinghua.dmcs.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="edu.tsinghua.dmcs.entity.User">
		<id column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="currentAuthority" property="currentAuthority" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="userName" property="userName" jdbcType="VARCHAR"/>
		<result column="realName" property="realName" jdbcType="VARCHAR"/>
		<result column="passWord" property="passWord" jdbcType="VARCHAR"/>
		<result column="userSex" property="userSex" jdbcType="VARCHAR"/>
		<result column="userIdNumber" property="userIdNumber" jdbcType="VARCHAR"/>
		<result column="userEmail" property="userEmail" jdbcType="VARCHAR"/>
		<result column="emailCheckedFlag" property="emailCheckedFlag" jdbcType="VARCHAR"/>
		<result column="userWorkPlace" property="userWorkPlace" jdbcType="VARCHAR"/>
		<result column="userTelephone" property="userTelephone" jdbcType="VARCHAR"/>
		<result column="userTelephone_1" property="userTelephone_1" jdbcType="VARCHAR"/>
		<result column="userWeixin" property="userWeixin" jdbcType="VARCHAR"/>
		<result column="userQq" property="userQq" jdbcType="VARCHAR"/>
		<result column="regtime" property="regtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		userId,currentAuthority,avatar,userName,realName,passWord,userSex,userIdNumber,
		userEmail,emailCheckedFlag, userWorkPlace,userTelephone,userTelephone_1,
		userWeixin,userQq,regtime
	</sql>
	<select id="nogetuser" resultMap="BaseResultMap" parameterType="java.lang.String">
		select userId, currentAuthority, avatar, userName, realName, userEmail, emailCheckedFlag,userTelephone,userWorkPlace
		from user
		where userId != #{userId, jdbcType=VARCHAR}
	</select>
	<select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where userName = #{username_mobile_email,jdbcType=VARCHAR} OR userTelephone = #{username_mobile_email, jdbcType=VARCHAR} OR userEmail = #{username_mobile_email, jdbcType=VARCHAR}
	</select>
	<select id="selectByuserId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where userId = #{userId, jdbcType=VARCHAR }
	</select>
	<select id="selectByUserEmail" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where userEmail = #{userEmail, jdbcType=VARCHAR }
	</select>
	<select id="selectByUserTele" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where userTelephone = #{userTele, jdbcType=VARCHAR }
	</select>
	<select id="selectUser_num" resultType="Integer" parameterType="java.lang.Integer">
		SELECT
		COUNT(*)
		from user
	</select>
	<delete id="deleteByUserId" parameterType="java.lang.Long">
		delete from user
		where userId = #{userId,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="edu.tsinghua.dmcs.entity.User">
		insert into user (userId,currentAuthority,avatar,userName,realName,passWord,userSex,userIdNumber,
		userEmail,emailCheckedFlag,userWorkPlace,userTelephone,userTelephone_1,
		userWeixin,userQq,regtime)
		values ( #{userId,jdbcType=VARCHAR},#{currentAuthority,jdbcType=VARCHAR},
		#{avatar,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{realName,jdbcType=VARCHAR},
		#{passWord,jdbcType=VARCHAR},#{userSex, jdbcType=VARCHAR},#{userIdNumber, jdbcType=VARCHAR},
		#{userEmail,jdbcType=VARCHAR},#{emailCheckedFlag,jdbcType=VARCHAR},#{userWorkPlace,jdbcType=VARCHAR},#{userTelephone,jdbcType=VARCHAR},
		#{userTelephone_1,jdbcType=VARCHAR},
		#{userWeixin,jdbcType=VARCHAR}, #{userQq,jdbcType=VARCHAR},
		#{regtime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="edu.tsinghua.dmcs.entity.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				userId,
			</if>
			<if test="currentAuthority !=null">
				currentAuthority,
			</if>
			<if test="avatar !=null">
				avatar,
			</if>
			<if test="userName !=null">
				userName,
			</if>
			<if test="realName !=null">
				realName,
			</if>
			<if test="passWord != null">
				passWord,
			</if>
			<if test="userSex != null">
				userSex,
			</if>
			<if test="userIdNumber !=null">
				userIdNumber,
			</if>
			<if test="userEmail != null">
				userEmail,
			</if>
			<if test="emailCheckedFlag !=null">
				emailCheckedFlag,
			</if>
			<if test="userWorkPlace != null">
				userworkPlace,
			</if>
			<if test="userTelephone != null">
				userTelephone,
			</if>
			<if test="userTelephone_1 != null">
				userTelephone_1,
			</if>

			<if test="userWeixin != null">
				userWeixin,
			</if>
			<if test="userQq != null">
				userQq,
			</if>
			<if test="regtime != null">
				regtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="currentAuthority !=null">
				#{currentAuthority,jdbcType=VARCHAR},
			</if>
			<if test="avatar !=null">
				#{avatar,jdbcType=VARCHAR},
			</if>
			<if test="userName !=null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="realName !=null">
				#{realName,jdbcType=VARCHAR},
			</if>
			<if test="passWord != null">
				#{passWord,jdbcType=VARCHAR},
			</if>
			<if test="userSex != null">
				#{userSex,jdbcType=VARCHAR},
			</if>
			<if test="userIdNumber !=null">
				#{userIdNumber,jdbcType=VARCHAR},
			</if>
			<if test="userEmail != null">
				#{userEmail,jdbcType=VARCHAR},
			</if>
			<if test="emailCheckedFlag !=null">
				#{emailCheckedFlag,jdbcType=VARCHAR},
			</if>
			<if test="userWorkPlace != null">
				#{userworkPlace,jdbcType=VARCHAR},
			</if>
			<if test="userTelephone != null">
				#{userTelephone,jdbcType=VARCHAR},
			</if>
			<if test="userTelephone_1 != null">
				#{userTelephone_1,jdbcType=VARCHAR},
			</if>

			<if test="userWeixin != null">
				#{userWeixin,jdbcType=VARCHAR},
			</if>
			<if test="userQq != null">
				#{userQq,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				#{regtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="edu.tsinghua.dmcs.entity.User">
		update user
		<set>
			<if test="userId != null">
				userId = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="currentAuthority !=null">
				currentAuthority = #{currentAuthority,jdbcType=VARCHAR},
			</if>
			<if test="avatar !=null">
				avatar = #{avatar,jdbcType=VARCHAR},
			</if>
			<if test="userName !=null">
				userName = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="realName !=null">
				realName = #{realName,jdbcType=VARCHAR},
			</if>
			<if test="passWord != null">
				passWord = #{passWord,jdbcType=VARCHAR},
			</if>
			<if test="userSex != null">
				userSex = #{userSex,jdbcType=VARCHAR},
			</if>
			<if test="userIdNumber !=null">
				userIdNumber = #{userIdNumber,jdbcType=VARCHAR},
			</if>
			<if test="userEmail != null">
				userEmail = #{userEmail,jdbcType=VARCHAR},
			</if>
			<if test="emailCheckedFlag !=null">
				emailCheckedFlag = #{emailCheckedFlag,jdbcType=VARCHAR},
			</if>
			<if test="userWorkPlace != null">
				userWorkPlace = #{userworkPlace,jdbcType=VARCHAR},
			</if>
			<if test="userTelephone != null">
				userTelephone = #{userTelephone,jdbcType=VARCHAR},
			</if>
			<if test="userTelephone_1 != null">
				userTelephone_1 = #{userTelephone_1,jdbcType=VARCHAR},
			</if>

			<if test="userWeixin != null">
				userWeixin = #{userWeixin,jdbcType=VARCHAR},
			</if>
			<if test="userQq != null">
				userQq = #{userQq,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				regtime = #{regtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where userId = #{userId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="edu.tsinghua.dmcs.entity.User">
		update user
		set
			userId = #{userId,jdbcType=VARCHAR},
			currentAuthority = #{currentAuthority,jdbcType=VARCHAR},
			avatar = #{avatar,jdbcType=VARCHAR},
			userName = #{userName,jdbcType=VARCHAR},
			realName = #{realName,jdbcType=VARCHAR},
			passWord = #{passWord,jdbcType=VARCHAR},
			userSex = #{userSex,jdbcType=VARCHAR},
			userIdNumber = #{userIdNumber,jdbcType=VARCHAR},
			userEmail = #{userEmail,jdbcType=VARCHAR},
			userWorkPlace = #{userworkPlace,jdbcType=VARCHAR},
			userTelephone = #{userTelephone,jdbcType=VARCHAR},
			userTelephone_1 = #{userTelephone_1,jdbcType=VARCHAR},
			userWeixin = #{userWeixin,jdbcType=VARCHAR},
			userQq = #{userQq,jdbcType=VARCHAR},
			regtime = #{regtime,jdbcType=TIMESTAMP},
		where userId = #{userId,jdbcType=VARCHAR}
	</update>
</mapper>